Repository SFTtech/openage, pull requests merged in 2018-02, with the labels that each got.

#973 opusenc: correct malformed opus comments
  openage/convert/opus/opusenc.pyx
Labels: assets, bugfix, python

#976 codecompliance: automatic fixing for copyright years
  buildsystem/codecompliance/__main__.py
  buildsystem/codecompliance/authors.py
  buildsystem/codecompliance/headerguards.py
  buildsystem/codecompliance/legal.py
  buildsystem/codecompliance/modes.py
  buildsystem/codecompliance/pylint.py
  buildsystem/codecompliance/pystyle.py
  buildsystem/codecompliance/textfiles.py
  buildsystem/codecompliance/util.py
Labels: buildsystem, nice new thing ☺, python

#978 doc: vcpkg install libogg
  doc/build_instructions/windows_msvc.md
Labels: documentation, windows

#980 Fix VS2017 build
  buildsystem/HandleCXXOptions.cmake
  copying.md
  doc/build_instructions/windows_msvc.md
  libopenage/error/handlers.cpp
  libopenage/error/handlers.h
  libopenage/util/fixed_point.h
Labels: bugfix, documentation, windows
