Repository SFTtech/openage, pull requests merged in 2018-07, with the labels that each got.

#1031 Added work around getsitepackages Issue #715
  buildsystem/HandlePythonOptions.cmake
  copying.md
Labels: buildsystem, improvement

#1034 fix or ignore pylint findings
  buildsystem/pxdgen.py
  openage/__init__.py
  openage/convert/main.py
  openage/log/__init__.py
  openage/testing/testing.py
  openage/util/fslike/abstract.py
  openage/util/fslike/path.py
Labels: bugfix, code quality, kevin, python

#1036 More CI variety
  .kevin
  CMakeLists.txt
  libopenage/console/draw.cpp
  libopenage/renderer/font/font.cpp
  libopenage/renderer/opengl/buffer.cpp
  libopenage/renderer/opengl/buffer.h
  libopenage/renderer/shader_program.h
  openage/cvar/config_file.py
Labels: bugfix, buildsystem, kevin
