Repository SFTtech/openage, pull requests merged in 2018-04, with the labels that each got.

#993 doc: Damage formula
  doc/reverse_engineering/game_mechanics/damage.md
Labels: documentation, improvement

#998 Link to Liberapay team page.
  README.md
Labels: documentation, improvement

#996 fslike: add readwrite and append modes for opening files
  libopenage/util/filelike/filelike.h
  libopenage/util/filelike/native.cpp
  libopenage/util/fslike/directory.cpp
  libopenage/util/fslike/directory.h
  libopenage/util/fslike/fslike.h
  libopenage/util/fslike/python.cpp
  libopenage/util/fslike/python.h
  libopenage/util/path.cpp
  libopenage/util/path.h
  openage/util/fslike/abstract.py
  openage/util/fslike/cpp.pyx
  openage/util/fslike/directory.py
  openage/util/fslike/path.py
  openage/util/fslike/test.py
Labels: c++, improvement, python

#1000 kevin: enable ccache
  .kevin
Labels: improvement, kevin

#997 logo: convert ubuntu font to path
  assets/logo/banner.svg
Labels: assets, improvement

#995 macOS touch ups
  .gitignore
  buildsystem/codecompliance/legal.py
  buildsystem/modules/FindPython.cmake
  copying.md
  libopenage/game_control.cpp
  libopenage/game_control.h
  libopenage/gamestate/resource.h
  libopenage/gui/guisys/private/gui_application_impl.cpp
  libopenage/gui/guisys/private/gui_event_queue_impl.cpp
  libopenage/gui/guisys/private/platforms/context_extraction_cocoa.mm
Labels: buildsystem, c++, improvement, mac os

#1002 doc: number of projectiles per garrisoned unit
  doc/reverse_engineering/game_mechanics/garrison.md
Labels: documentation, nice new thing ☺

#1003 buildsystem: register generated files as byproducts
  buildsystem/codegen.cmake
Labels: buildsystem, improvement

#1004 buildsystem: suppress useless cython warnings
  buildsystem/cythonize.py
Labels: buildsystem, improvement
