Repository SFTtech/openage, pull requests merged in 2019-06, with the labels that each got.

#1121 Add OpenSAGE to the list
  README.md
Labels: documentation, improvement

#1117 Fix Windows 64-bit installer package
  buildsystem/scripts/EmbedPython.cmake
  buildsystem/templates/ForwardVariables.cmake.in
  doc/build_instructions/windows_msvc.md
  libopenage/CMakeLists.txt
Labels: buildsystem, packaging, windows

#1127 Using applocal.ps1 for resolving and deploying Qt dependencies
  buildsystem/scripts/EmbedWinDependencies.cmake
  buildsystem/templates/ForwardVariables.cmake.in
  buildsystem/templates/qt.conf
Labels: buildsystem, nice new thing ☺, packaging, windows

#1124 Added windows installer reference to various locations
  README.md
  doc/build_instructions/windows_msvc.md
  doc/status.md
  doc/troubleshooting.md
Labels: documentation, windows

#1131 Fix typo
  copying.md
  libopenage/game_renderer.cpp
Labels: documentation

#1130 Start openage explicitly from shipped Python version
  buildsystem/templates/openage.bat.in
  doc/troubleshooting.md
Labels: buildsystem, documentation, python, windows

#1129 Clarified logical process of single- and multiplayer architecture
  doc/architecture.md
Labels: documentation

#1135 Prepare release 0.4.0
  CMakeLists.txt
  buildsystem/simple
  configure
  doc/building.md
  openage/__init__.py
  openage_version
Labels: buildsystem

#1128 Updated windows build instructions
  doc/build_instructions/windows_msvc.md
Labels: documentation, windows

#1139 Fix 'math' usage in modding API reference guide
  doc/nyan/api_reference/reference_ability.md
  doc/nyan/api_reference/reference_aux.md
  doc/nyan/api_reference/reference_effect.md
  doc/nyan/api_reference/reference_modifier.md
  doc/nyan/api_reference/reference_resistance.md
  doc/nyan/api_reference/reference_root.md
Labels: documentation, nyan

#1137 document releasing process
  changelog.md
  doc/releasing.md
Labels: documentation, packaging
