Repository SFTtech/openage, pull requests merged in 2019-03, with the labels that each got.

#1089 buildsystem: use run.py from the build directory
  CMakeLists.txt
  buildsystem/cythonize.py
  buildsystem/pxdgen.py
  buildsystem/python.cmake
  run.py.in
Labels: buildsystem, improvement, python

#1094 pxdgen: fix `path.relative_to` usage
  buildsystem/pxdgen.py
  buildsystem/python.cmake
Labels: bugfix, buildsystem

#1097 Add logo version optimized for printing
  assets/logo/crown_print.svg
Labels: assets, nice new thing ☺
