Repository SFTtech/openage, pull requests merged in 2019-01, with the labels that each got.

#1080 fix openage directory to represent canonical form
  buildsystem/check_py_file_list.py
  copying.md
Labels: bugfix, buildsystem, python

#1081 renderer: fix clicking in demo
  libopenage/renderer/tests.cpp
Labels: bugfix, c++, rendering

#1083 Compliance fixes
  buildsystem/codecompliance/headerguards.py
  libopenage/renderer/sdl_global.cpp
  openage/__init__.py
  openage/convert/dataformat/generated_file.py
  openage/testing/testing.py
  openage/util/bytequeue.py
  openage/util/filelike/abstract.py
  openage/util/fslike/abstract.py
Labels: code quality, python

#1082 buildsystem: use GNU gold linker by default
  buildsystem/HandleCXXOptions.cmake
Labels: buildsystem, improvement

#1084 buildsystem: fix cyclic dependency on unnecessary timefile
  buildsystem/codegen.cmake
Labels: bugfix, buildsystem
