Repository SFTtech/openage, pull requests merged in 2019-02, with the labels that each got.

#1085 Fix windows build
  buildsystem/pxdgen.py
  libopenage/CMakeLists.txt
  libopenage/event/demo/main.cpp
  libopenage/event/demo/main.h
  libopenage/renderer/tests.cpp
  libopenage/renderer/tests.h
Labels: bugfix, buildsystem

#1087 codegen: take the realpath of generated file paths
  openage/codegen/codegen.py
Labels: bugfix, buildsystem, python

#1086 PyInterface: Rearrange pyobject pxd annotations
  libopenage/pyinterface/exctranslate.h
  libopenage/pyinterface/pyobject.cpp
  libopenage/pyinterface/pyobject.h
Labels: c++, code quality, improvement

#1088 Fix mingw build.
  buildsystem/CheckCompilerFeatures.cmake
  buildsystem/HandleCXXOptions.cmake
  buildsystem/python.cmake
  copying.md
  libopenage/CMakeLists.txt
  libopenage/error/stackanalyzer.cpp
  libopenage/event/demo/gui.cpp
  libopenage/event/demo/main.cpp
  libopenage/event/demo/physics.cpp
  libopenage/log/level.h
  libopenage/util/compiler.cpp
  libopenage/util/compiler.h
  libopenage/util/fslike/directory.cpp
Labels: bugfix, buildsystem, c++
