Repository SFTtech/openage, pull requests merged in 2020-04, with the labels that each got.

#1191 Add Libc, SDL, Qt and Nyan versions to openage --version
  buildsystem/__init__.py
  copying.md
  libopenage/CMakeLists.txt
  libopenage/versions/CMakeLists.txt
  libopenage/versions/versions.cpp
  libopenage/versions/versions.h
  openage/CMakeLists.txt
  openage/__main__.py
  openage/versions/CMakeLists.txt
  openage/versions/__init__.py
  openage/versions/versions.pyx
Labels: buildsystem, improvement, reporting, waiting for author

#1228 Fixing MacOSX Workflow
  .github/workflows/macosx-ci.yml
Labels: kevin, mac os

#1242 Change the copyright year of copying.md
  copying.md
Labels: documentation

#1237 Fix CMake warnings
  buildsystem/modules/FindGPerfTools.cmake
  buildsystem/modules/FindInotify.cmake
  buildsystem/modules/FindNumpy.cmake
  buildsystem/modules/FindOpusfile.cmake
Labels: buildsystem

#1227 Added version numbers and layout to version output
  libopenage/config.cpp.in
  libopenage/config.h.in
  libopenage/engine.cpp
  libopenage/gamestate/game_save.cpp
  libopenage/versions/CMakeLists.txt
  libopenage/versions/compiletime.cpp.in
  libopenage/versions/compiletime.h.in
  libopenage/versions/versions.cpp
  libopenage/versions/versions.h
  openage/__init__.py
  openage/config.py.in
Labels: buildsystem, improvement, reporting

#1235 Buildsystem updated to FindPython3.cmake
  .gitignore
  CMakeLists.txt
  buildsystem/modules/FindPython.cmake
  buildsystem/scripts/EmbedPython.cmake
  buildsystem/scripts/EmbedWinDependencies.cmake
  doc/building.md
Labels: buildsystem, improvement
