Repository SFTtech/openage, pull requests merged in 2020-05, with the labels that each got.

#1250 Fix Clang-10 warnings & fix configure script
  configure
  libopenage/log/file_logsink.cpp
  libopenage/rng/rng.cpp
  libopenage/rng/rng.h
Labels: buildsystem, c++

#1257 Remove outdated simple script
  buildsystem/simple
Labels: buildsystem

#1268 kevin: migration for new build host
  buildsystem/compilepy.py
  etc/pylintrc
  kevinfile
  libopenage/renderer/vulkan/render_target.h
  libopenage/util/hash.h
  openage/cabextract/cab.py
  openage/convert/main.py
  openage/util/files.py
Labels: kevin

#1270 Fix build errors on MingW + GCC-10
  CMakeLists.txt
  buildsystem/modules/FindPython.cmake
  libopenage/log/logsink.h
Labels: bugfix, buildsystem, c++, windows

#1264 Bump CMake version to 3.16, buildsystem update to Python search
  CMakeLists.txt
  buildsystem/HandlePythonOptions.cmake
  buildsystem/modules/FindNumpy.cmake
  buildsystem/modules/FindPython.cmake
  buildsystem/python.cmake
  doc/building.md
Labels: buildsystem, improvement
