Repository SFTtech/openage, pull requests merged in 2024-10, with the labels that each got.

#1694 Update README.md
  README.md
Labels: improvement, documentation

#1695 Fix tex unit assignment to `std::optional` type
  libopenage/renderer/opengl/shader_program.cpp
  libopenage/renderer/opengl/shader_program.h
Labels: area: renderer, lang: c++, bugfix

#1697 Deactivate `_PyTraceback_Add`
  openage/cppinterface/exctranslate.pyx
Labels: bugfix, lang: cython

#1698 Update macOS instructions
  .github/workflows/macosx-ci.yml
  .github/workflows/ubuntu-22.04.yml
  .github/workflows/windows-server-2019.yml
  .github/workflows/windows-server-2022.yml
  doc/build_instructions/macos.md
Labels: improvement, os: macos, documentation

#1692 Fix thread-safe access for render entities
  libopenage/gamestate/game_entity.cpp
  libopenage/gamestate/game_entity.h
  libopenage/gamestate/terrain_chunk.cpp
  libopenage/gamestate/terrain_chunk.h
  libopenage/input/controller/hud/controller.cpp
  libopenage/input/controller/hud/controller.h
  libopenage/renderer/demo/demo_3.cpp
  libopenage/renderer/demo/stresstest_0.cpp
  libopenage/renderer/demo/stresstest_1.cpp
  libopenage/renderer/render_factory.cpp
  libopenage/renderer/render_factory.h
  libopenage/renderer/stages/CMakeLists.txt
  libopenage/renderer/stages/hud/object.cpp
  libopenage/renderer/stages/hud/object.h
  libopenage/renderer/stages/hud/render_entity.cpp
  libopenage/renderer/stages/hud/render_entity.h
  libopenage/renderer/stages/hud/render_stage.cpp
  libopenage/renderer/stages/hud/render_stage.h
  libopenage/renderer/stages/render_entity.cpp
  libopenage/renderer/stages/render_entity.h
  libopenage/renderer/stages/terrain/chunk.cpp
  libopenage/renderer/stages/terrain/chunk.h
  libopenage/renderer/stages/terrain/model.cpp
  libopenage/renderer/stages/terrain/model.h
  libopenage/renderer/stages/terrain/render_entity.cpp
  libopenage/renderer/stages/terrain/render_entity.h
  libopenage/renderer/stages/terrain/render_stage.cpp
  libopenage/renderer/stages/terrain/render_stage.h
  libopenage/renderer/stages/world/object.cpp
  libopenage/renderer/stages/world/object.h
  libopenage/renderer/stages/world/render_entity.cpp
  libopenage/renderer/stages/world/render_entity.h
  libopenage/renderer/stages/world/render_stage.cpp
  libopenage/renderer/stages/world/render_stage.h
Labels: area: renderer, lang: c++, bugfix

#1656 Integrate flow field pathfinder into game simulation
  assets/test/shaders/pathfinding/demo_0_flow_field.frag.glsl
  assets/test/shaders/pathfinding/demo_0_flow_field.vert.glsl
  doc/code/pathfinding/README.md
  doc/code/pathfinding/field_types.md
  doc/code/pathfinding/images/cost_field.png
  doc/code/pathfinding/images/flow_field.png
  doc/code/pathfinding/images/integration_field.png
  etc/gdb_pretty/printers.py
  libopenage/coord/chunk.cpp
  libopenage/coord/chunk.h
  libopenage/coord/tile.cpp
  libopenage/coord/tile.h
  libopenage/gamestate/CMakeLists.txt
  libopenage/gamestate/api/terrain.cpp
  libopenage/gamestate/api/terrain.h
  libopenage/gamestate/component/internal/position.cpp
  libopenage/gamestate/event/spawn_entity.cpp
  libopenage/gamestate/game.cpp
  libopenage/gamestate/game_state.cpp
  libopenage/gamestate/game_state.h
  libopenage/gamestate/map.cpp
  libopenage/gamestate/map.h
  libopenage/gamestate/system/activity.cpp
  libopenage/gamestate/system/activity.h
  libopenage/gamestate/system/move.cpp
  libopenage/gamestate/system/move.h
  libopenage/gamestate/terrain.cpp
  libopenage/gamestate/terrain.h
  libopenage/gamestate/terrain_chunk.cpp
  libopenage/gamestate/terrain_chunk.h
  libopenage/gamestate/terrain_factory.cpp
  libopenage/gamestate/terrain_factory.h
  libopenage/gamestate/terrain_tile.h
  libopenage/pathfinding/cost_field.cpp
  libopenage/pathfinding/cost_field.h
  libopenage/pathfinding/definitions.h
  libopenage/pathfinding/demo/demo_0.cpp
  libopenage/pathfinding/demo/demo_0.h
  libopenage/pathfinding/demo/demo_1.cpp
  libopenage/pathfinding/flow_field.cpp
  libopenage/pathfinding/flow_field.h
  libopenage/pathfinding/grid.h
  libopenage/pathfinding/integration_field.cpp
  libopenage/pathfinding/integration_field.h
  libopenage/pathfinding/integrator.cpp
  libopenage/pathfinding/integrator.h
  libopenage/pathfinding/path.h
  libopenage/pathfinding/pathfinder.cpp
  libopenage/pathfinding/pathfinder.h
  libopenage/pathfinding/portal.cpp
  libopenage/pathfinding/portal.h
  libopenage/pathfinding/sector.cpp
  libopenage/pathfinding/sector.h
  libopenage/pathfinding/tests.cpp
  libopenage/pathfinding/types.h
  libopenage/presenter/presenter.cpp
  libopenage/renderer/stages/world/object.cpp
Labels: improvement, lang: c++, area: simulation, big stuff
