Repository SFTtech/openage, pull requests merged in 2024-09, with the labels that each got.

#1689 Change recommended entrypoint for Windows build
  doc/build_instructions/windows_msvc.md
Labels: os: windows, documentation

#1687 Make component classes `final`
  libopenage/gamestate/component/api/idle.h
  libopenage/gamestate/component/api/live.h
  libopenage/gamestate/component/api/move.h
  libopenage/gamestate/component/api/selectable.h
  libopenage/gamestate/component/api/turn.h
  libopenage/gamestate/component/internal/activity.h
  libopenage/gamestate/component/internal/command_queue.h
  libopenage/gamestate/component/internal/ownership.h
  libopenage/gamestate/component/internal/position.h
Labels: improvement, lang: c++, code quality, area: simulation

#1690 Update syntax of GlUniformBuffer to match that of GlUniformInput #1683
  copying.md
  libopenage/renderer/opengl/renderer.cpp
  libopenage/renderer/opengl/shader_data.h
  libopenage/renderer/opengl/shader_program.cpp
  libopenage/renderer/opengl/uniform_buffer.cpp
  libopenage/renderer/opengl/uniform_buffer.h
  libopenage/renderer/opengl/uniform_input.cpp
  libopenage/renderer/opengl/uniform_input.h
  libopenage/renderer/uniform_buffer.h
  libopenage/renderer/uniform_input.cpp
Labels: improvement, area: renderer, lang: c++
