Repository SFTtech/openage, pull requests merged in 2025-01, with the labels that each got.

#1734 Bind empty VAO to bufferless quad rendering
  libopenage/renderer/opengl/geometry.cpp
  libopenage/renderer/opengl/renderer.cpp
  libopenage/renderer/opengl/renderer.h
Labels: area: renderer, lang: c++, bugfix

#1742 Remove additional quotes in build instructions
  doc/build_instructions/macos.md
Labels: documentation, bugfix

#1725 Add dirty flag and integrate
  .mailmap
  copying.md
  libopenage/gamestate/map.cpp
  libopenage/gamestate/system/move.cpp
  libopenage/pathfinding/CMakeLists.txt
  libopenage/pathfinding/cost_field.cpp
  libopenage/pathfinding/cost_field.h
  libopenage/pathfinding/demo/demo_0.cpp
  libopenage/pathfinding/demo/demo_1.cpp
  libopenage/pathfinding/demo/demo_1.h
  libopenage/pathfinding/field_cache.cpp
  libopenage/pathfinding/field_cache.h
  libopenage/pathfinding/integrator.cpp
  libopenage/pathfinding/integrator.h
  libopenage/pathfinding/path.h
  libopenage/pathfinding/pathfinder.cpp
  libopenage/pathfinding/sector.cpp
  libopenage/pathfinding/sector.h
  libopenage/pathfinding/tests.cpp
  libopenage/pathfinding/types.h
Labels: improvement, lang: c++, area: simulation

#1751 doc: fix incorrect fontconfig path in Windows build guide
  doc/build_instructions/windows_msvc.md
Labels: os: windows, documentation
