Repository SFTtech/openage, pull requests merged in 2025-03, with the labels that each got.

#1755 Change mentions of 'checkall' to 'checkmerge'
  .github/PULL_REQUEST_TEMPLATES/pull_request_template.md
  Makefile
  doc/buildsystem.md
  doc/contributing.md
  doc/ide/configs/vscode/tasks.json
Labels: documentation, bugfix

#1756 ci-cd: always force link to release python lib when configuring windows debug build
  buildsystem/HandlePythonOptions.cmake
Labels: os: windows, area: buildsystem, ci

#1757 ci-cd: always force link to release python lib when configuring windows debug
  .github/workflows/windows-server-2019.yml
  .github/workflows/windows-server-2022.yml
  buildsystem/HandlePythonOptions.cmake
  buildsystem/modules/FindPython.cmake
Labels: area: buildsystem, ci, lang: cmake

#1764 Add `vulkan` package to Windows vcpkg install instructions
  doc/build_instructions/windows_msvc.md
Labels: improvement, documentation
